body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

form {
    box-sizing: border-box;
}

.search-bar {
    box-sizing: border-box;
    border-radius: 15pt;
    overflow: hidden;
    min-height: 3em;
    width: 60%;
}

.search-bar input {
    flex-grow: 4;
    background-color: rgb(184, 228, 176);
    border-style: solid;
    border-width: 2pt;
    border-color: rgb(184, 228, 176);
    text-indent: 1em;
    border-radius: 15pt 0 0 15pt;
}

.search-bar select {
    flex-grow: 1;
    background-color: rgb(184, 228, 176);
    border-style: solid;
    border-width: 2pt;
    border-color: rgb(184, 228, 176);
    border-left-color: rgb(107, 107, 107);
    text-indent: 1em;
    box-sizing: border-box;
    color: rgb(31, 31, 31);
    font-weight: 500;
}

.search-bar button {
    border-style: none;
    background-color: rgb(56, 162, 35);
    flex-grow: 1;
    color: white;
    border-color: rgb(56, 162, 35);
    border-width: 2pt;
    border-style: solid;
    border-radius: 0 15pt 15pt 0;
    transition-duration: 0.5s;
}

.search-bar button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2.1em;
    padding: 1.5pt;
}

.search-bar button img {
    width: 100%;
    display: flex;
    margin: 0;
}

.search-bar input:focus, .search-bar select:focus {
    outline: none;
    border-color: rgba(56, 162, 35, 0.527);
}

.search-bar button:active, .search-bar button:focus {
    outline: none;
    border-color: rgba(238, 255, 0, 0.76);
}

.search-bar button:hover {
    background-color: rgb(48, 146, 28);
}

@media (max-width: 1200px) {
    .search-bar {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .search-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 1em;
        box-sizing: border-box;
        padding: 0 !important;
        width: 100%;
    }
    .search-bar input {
        width: 100%;
        height: 2.5em;
    }
    .search-bar select {
        border-left-color: rgb(80, 160, 66);
        height: 2.5em;
    }
    .search-bar button {
        height: 2.5em;
        min-width: 0;
    }
}

.searcher {
    background-color: rgb(252, 251, 243);
    height: 4.5em;
    box-shadow: 0 2px 10pt rgba(0, 0, 0, 0.486);
}

.separator {
    background-color: rgb(33, 37, 41);
    height: 20pt;
    margin: 7pt 0;
}

@media (max-width: 800px) {
    .responsive-center {
        display: flex;
        justify-content: center;
    }
    .separator {
        margin: 1pt;
    }
}

.materia {
    border-style: solid;
    background-color: grey;
    border-width: 2pt;
    border-radius: 5pt;
    padding: 1pt 2pt 1pt 2pt;
    font-weight: bold;
    font-size: 0.9em;
}

.bg-semilight {
    background-color: rgb(235, 235, 235);
    border-color: rgb(18, 109, 0) !important;
}

.bg-darker {
    background-color: rgba(17, 17, 17, 0.137);
    ;
}

.no-button {
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    margin: 15pt 3pt;
}

.no-button i:hover {
    filter: brightness(1.5);
}

.button__visualizar {
    border-style: solid;
    border-width: 2pt;
    border-color: rgb(0, 0, 0);
    padding: 5pt;
    background-color: rgba(11, 97, 0, 0.726);
    color: white;
    width: 80%;
    font-size: large;
    font-family: 'Raleway';
    font-weight: bold;
    letter-spacing: 0.1em;
}

.stars {
    width: 55%;
}

@media (max-width: 1024px) {
    .stars {
        width: 65%;
    }
}

@media (max-width: 800px) {
    .stars {
        width: 70%;
    }
}