body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page_container {
    flex-grow: 1;
}

footer {

}

.w-75r {
    width: 75% !important;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .w-75r {
        width: 90% !important;
    }
}

@media (max-width: 800px) {
    .w-75r {
        width: 100% !important;
    }
}

.logo {
    width: 2.5em;
}

.font-raleway {
    font-family: 'Raleway';
}

.flex-grow-1 {
    flex-grow: 1;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10pt;
}

::-webkit-scrollbar-track {
    background: rgb(34, 34, 34);
}

::-webkit-scrollbar-thumb {
    background: rgb(128, 128, 128);
    border-radius: 10pt;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(158, 158, 158);
}

/* new */

.btn-circle {
    border-radius: 100% !important;
    width: 3em;
    height: 3em;
}

form {
    width: 50%;
    padding: 2em;
    border-radius: 15pt;
}

form img {
    width: 40%
}

@media (max-width: 800px) {
    form {
        width: 95%;
        padding: 2em 0.2em;

    }
    form img {
        width: 60%
    }
}

select {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    height: 2.75em;
}

input[type="search"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 2.75em;
}

.accordion {
    width: 100%;
}

.accordion-item {
    border-style: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.accordion-icon-width {
    width: 0 !important;
}

.advanced_search_button {
    color: rgb(28, 28, 184);
    font-weight: 500;
    border-style: none;
    background-color: #00000000;
    font-size: 0.4em !important;
}

tr:hover {
    cursor: pointer;
}